<div class="container">
  <div class="row1">

    <h1>Add User</h1>
  </div>
  <form (ngSubmit)="saveUser()">
    <div class="row2">

      <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input formControlName="username" required ngModel type="text" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Enter User Name" />

        <br />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">User Job</label>
        <input formControlName="userJob" required ngModel type="text" class="form-control" id="exampleInputPassword1"
          placeholder="Enter User Job" />

      </div><br /><br />
      <div class="row3">
        <button type="submit" class="btn btn-outline-light" (click)="saveUser()">Add</button>
        <button type="submit" class="btn btn-outline-light" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>