<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <div class="card-header">
            Users
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>avatar</th>
                            <th>user Name</th>
                            <th>email</th>

                            <th>Details</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users.data ">
                            <td>{{user.id}}</td>
                            <td><img [src]="user.avatar" [title]="user.avatar" [style.width.px]="imgWidth"
                                    [style.margin.px]="imgMargin" />
                            </td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                            <td> {{user.email}}</td>
                            <td> <a  class="show" [routerLink]="['/user', user.id]">show more about: {{user.first_name}}</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <nav  aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" *ngFor="let item of [].constructor(users.total_pages); let i = index">
                            <a class="page-link" (click)="naviagtePage(i)">{{i+1}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>