
<app-nav></app-nav>

    <br>
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header">{{userDetails.data.first_name}} Details</h5>

            <div class="card-body">
               
                <img 
                [src]="userDetails.data.avatar"
                [title]="userDetails.data.avatar"
                [style.width.px]="imgWidth"
                [style.margin.px]="imgMargin"/>
                <br><br>
                <p>User Id : {{userDetails.data.id }} </p>
                <p>User Name : {{userDetails.data.first_name}} {{userDetails.data.last_name}} </p>
                <p>User Email : {{userDetails.data.email}} </p>
            <button type="button" class="btn btn-danger" (click)="onBack()">back</button>  
            </div>
    </div>
        </div>
    <div class="col-sm-4"></div></div>
    


    